<!-- Meta Tags -->
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="description" content="A website which connects doctors, patients and services like ambulance provide">
<meta name="keywords" content="YourMediBuddy, Patient,Medical record store, Doctor, Medical Service, Appointment">
<meta name="author" content="Keerti Gupta">
<title>YourMediBuddy</title>
<!-- Favicon 
<link rel="apple-touch-icon"  href="/assets/images/Icon/apple-icon-57x57.png">
<link rel="apple-touch-icon"  href="/assets/images/Icon/apple-icon-60x60.png">
<link rel="apple-touch-icon"  href="/assets/images/Icon/apple-icon-72x72.png">
<link rel="apple-touch-icon"  href="/assets/images/Icon/apple-icon-76x76.png">
<link rel="apple-touch-icon" href="/assets/images/Icon/apple-icon-114x114.png">
<link rel="apple-touch-icon" href="/assets/images/Icon/apple-icon-120x120.png">
<link rel="apple-touch-icon" href="/assets/images/Icon/apple-icon-144x144.png">
<link rel="apple-touch-icon" href="/assets/images/Icon/apple-icon-152x152.png">
<link rel="apple-touch-icon" href="/assets/images/Icon/apple-icon-180x180.png">
<link rel="icon" type="image/png"  href="/assets/images/Icon/android-icon-192x192.png">
<link rel="icon" type="image/png" href="/assets/images/Icon/favicon-32x32.png">
<link rel="icon" type="image/png" href="/assets/images/Icon/favicon-96x96.png">
<link rel="icon" type="image/png" href="/assets/images/Icon/favicon-16x16.png">
<link rel="manifest" href="/assets/images/Icon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/images/Icon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
-->










<!-- To run web application in full-screen -->
<meta name="apple-mobile-web-app-capable" content="yes">
<!-- Status Bar Style (see Supported Meta Tags below for available values) -->
<!-- Has no effect unless you have the previous meta tag -->
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- Microsoft Tiles 
<meta name="msapplication-config" content="assets/images/Icon/browserconfig.xml" />
-->

<!-- Next tags are optional but recommended 
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
-->